@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "BonyadeKoodak";
  src: url("../assets/BonyadeKoodakFaNum-Regular.woff2") format("woff2");
}

body {
  font-family: "BonyadeKoodak", sans-serif;
  font-weight: 500;
  position: relative;
  width: 1440px;
  height: 780px;
  background: #f6fafd;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.frame-57 {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0px;
  gap: 24px;
  position: absolute;
  width: 1126px;
  height: 264px;
  left: 156px;
  top: 246px;
}

.logo {
  width: 160px;
  height: 100px;
  padding: 0px 0.24px 0px 0px;
}

.frame-32 {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-start;
  padding: 0px;
  gap: 12px;
  width: 1126px;
  height: 140px;
}

.text-area {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 1126px;
  height: 76px;
  border-radius: 12px;
}

.text-area-2 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;
  isolation: isolate;
  width: 1126px;
  height: 76px;
  border-radius: 12px;
}

.text-area-contents {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0px 12px;
  gap: 6px;
  width: 1126px;
  height: 76px;
  background: #ffffff;
  border-radius: 12px;
}

.search-area {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  height: 100%;
  width: 100%;
}

.auto-added-frame-button {
  gap: 8px;
  width: 134px;
  height: 45px;
  background: #000000;
  border-radius: 12px;
}

.state-layer {
  font-family: "BonyadeKoodak", sans-serif;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
  background: #ffffff;
  border: 2px solid #000000;
  border-radius: 12px;
}

.label-text {
  font-family: "Bonyade Koodak FaNum";
  font-weight: 600;
  font-size: 14px;
  color: #0f1013;
}

.search-tag {
  font-family: "BonyadeKoodak";
  display: flex;
  justify-content: space-between;
  font-size: 12px;
  padding: 6px 6px 6px 15px;
  width: auto;
  height: 32px;
  background: #eff4f8;
  border-radius: 6px;
}

.search-placeholder {
  width: 100%;
  font-size: 12px;
  text-align: right;
  color: #707070;
  padding: 5px;
}

.search-placeholder:focus {
  outline: transparent;
}

.frame-31 {
  display: flex;
  gap: 12px;
  width: 1126px;
  height: 52px;
}

.frame-333 {
  display: flex;
  flex-direction: row-reverse;
  gap: 12px;
  width: 891px;
  height: 52px;
}

.label-text {
  font-family: "BonyadeKoodak", sans-serif;
}

.assistive-chip {
  width: 117px;
  background: #ffffff;
  border-radius: 8px;
}

.frame-189 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  width: 223px;
  height: 100%;
  border-radius: 8px;
  gap: 5px;
  background-color: #ffffff;
  padding: 15px;
}

.drop-down-text {
  text-align: right;
  font-size: 14px;
  color: #c5c5c5;
}

.dropdown-icon {
  color: #292d32;
}

.button-toggle {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-between;
}

.dropdown-option-item {
  text-align: end;
  padding: 10px 20px;
  font-size: 12px;
}

.assistive-chip.added-to-search {
  background-color: orange;
  color: #ffffff;
}
